<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>blog_vue_element_demo</title>
	<script src="https://cdn.bootcss.com/vue/2.1.8/vue.min.js"></script>
	<!-- 引入element-ui样式 -->
	<link href="https://cdn.bootcss.com/element-ui/1.1.6/theme-default/index.css" rel="stylesheet">
	<!-- 引入element-ui组件库 -->
	<script src="https://cdn.bootcss.com/element-ui/1.1.6/index.js"></script>
	<link rel="stylesheet" type="text/css" href="./total.css" />
</head>
<body>
	<div id="app" style="width: 1200px;margin: 0 auto;">
		<el-row id="header" style="background: #eef1f6 ">
			<el-col :span="14">
				<el-col :span="4" style="height: 70px">
					<h1 style="line-height: 70px;margin-left: 40px">tobeatus</h1>
				</el-col>
			</el-col>
			<el-col :span="10">
				<el-menu default-active="1" class="el-menu-demo" mode="horizontal">
					<el-menu-item index="1">home</el-menu-item>
					<el-submenu index="2">
						<template slot="title">attention</template>
						<el-menu-item v-for="(data,index) in nav_url" index="'2-'+index"><a :href="data.url"><div>{{data.title}}</div></a></el-menu-item>
					</el-submenu>
					<el-menu-item index="3"><a href="./friends.html">friends</a></el-menu-item>
					<el-menu-item index="4"><div v-on:click="dialogVisible = true">contact me</div></el-menu-item>
					<el-menu-item index="5"><div>resume</div></el-menu-item>
				</el-menu>
			</el-col>
		</el-row>
		<el-row>
			<el-col>
				<el-carousel :interval="4000" height="500px">
					<el-carousel-item v-for="data in 1">
						<div style="margin-top: 150px">
							<h2>to-beatus</h2>
							<!-- <h3 style="margin-top: 15px">要幸福</h3> -->
						</div>
						<div style="margin-top: 50px">
							<h5>These words would be written on my tombstone in the future :</h5>
							<h5 style="margin-top: 20px">"I guess it comes down to a simple choice:'get busy living or get busy dying'."
								I think i chosen the first one."</h5>
							</div>
						</el-carousel-item>
					</el-carousel>
				</el-col>
			</el-row>
			<el-row id="attention">
				<el-col :span="4" v-for="(data, index) in imgdata" :offset="offset(index)">
					<el-card :body-style="{ padding: '0px' }">
						<img v-bind:src="data.img" class="image" height="auto" width="100%">
						<div style="padding: 14px;">
							<div>{{ data.title }}</div>
						</div>
					</el-card>
				</el-col>
			</el-row>
			<el-row id="footer" style="background: #eef1f6; margin-top: 50px;">
				<el-col :span="16">
					<el-col :span="4" style="height: 80px">
						<h1 style="line-height: 80px;margin-left: 40px">tobeatus</h1>
					</el-col>
				</el-col>
				<el-col :span="8" >
					<el-menu default-active="1" class="el-menu-demo" mode="horizontal">
						<el-menu-item index="1"><a href="./index.html">home</a></el-menu-item>
						<el-menu-item index="2"><div v-on:click="dialogVisible = true">contact me</div></el-menu-item>
						<el-menu-item index="3"><a href="./friends.html">friends</a></el-menu-item>
						<el-menu-item index="4">resume</el-menu-item>
					</el-menu>
				</el-col>
			</el-row>
			<el-dialog title="编辑" v-model="dialogVisible" size="tiny">
			<!-- <el-form v-bind:model="task_edit">
				<el-form-item label="标题" v-bind:label-width="formLabelWidth">
					<el-input v-model="task_edit.task_data.task_content" placeholder="请填写标题" auto-complete="off"></el-input>
				</el-form-item>
				<el-form-item label="执行人" v-bind:label-width="formLabelWidth">
					<el-input v-model="task_edit.task_data.operater" placeholder="请填写执行人" auto-complete="off"></el-input>
				</el-form-item>
				<el-form-item label="状态" v-bind:label-width="formLabelWidth">
					<el-select v-model="task_edit.status" placeholder="请选择状态">
						<el-option v-for="(model,index) in all_status" v-bind:label="all_status[index].value" v-bind:value="all_status[index].value"></el-option>
					</el-select>
				</el-form-item>
			</el-form> -->
			<span slot="footer" class="dialog-footer">
				<el-button v-on:click="dialogVisible = false">取 消</el-button>
				<el-button type="primary" v-on:click="editTaskYes">确 定</el-button>
			</span>
		</el-dialog>
		</div>

</body>
<script type="text/javascript" src="./total.js"></script>

</html>
