<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>标题管理器demo</title>
	<script src="https://cdn.bootcss.com/vue/2.1.8/vue.min.js"></script>
	<!-- 引入element-ui样式 -->
	<link href="https://cdn.bootcss.com/element-ui/1.1.6/theme-default/index.css" rel="stylesheet">
	<!-- 引入element-ui组件库 -->
	<script src="https://cdn.bootcss.com/element-ui/1.1.6/index.js"></script>
	<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.js"></script>
	<style type="text/css">
		body{
			font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;			
		}
	</style>
</head>
<body>
	<div id="app" style="width: 1200px;margin: 0 auto;">
		<el-menu theme="dark" default-active="1" class="el-menu-demo" mode="horizontal">
			<!-- <el-menu-item index="1"><div v-on:click="total">全部</div></el-menu-item>
			<el-menu-item index="2"><div v-on:click="checkStatus('等待中')">等待中</div></el-menu-item>
			<el-menu-item index="3"><div v-on:click="checkStatus('进行中')">进行中</div></el-menu-item>
			<el-menu-item index="4"><div v-on:click="checkStatus('已完成')">已完成</div></el-menu-item>
			<el-menu-item index="5"><div v-on:click="checkStatus('已放弃')">已放弃</div></el-menu-item> -->
			<el-menu-item index="6"><div v-on:click="dialogVisible = true">新建标题</div></el-menu-item>
		</el-menu>
		<!-- <el-table v-bind:data="edit_data_task" v-model="edit_data_task" border style="width: 100%" >
			<el-table-column prop="number" label="序号" width="100"></el-table-column>
			<el-table-column prop="task_data.task_content" label="标题" width="auto"></el-table-column>
			<el-table-column prop="task_data.operater" label="执行人" width="150"></el-table-column>
			<el-table-column prop="status" label="状态" width="150" :filters="all_status" :filter-method="filterTag">
				<template scope="scope">
					<el-tag :type="checkStatusType(scope.row)" close-transition>{{scope.row.status}}</el-tag>
				</template>
			</el-table-column>
			<el-table-column label="操作" fixed="right" width="150">
				<template scope="scope">
					<el-button v-on:click="editTask(scope.$index)" type="text" size="small">编辑</el-button>
					<el-button v-on:click="deleteTask(scope.$index)" type="text" size="small">删除</el-button>
				</template>
			</el-table-column>
		</el-table> -->
		<el-row>
			<el-col :span="4" v-for="(item,index) in file"><div>{{item.name}}</div></el-col>
		</el-row>

		<el-dialog title="编辑" v-model="dialogVisible" size="tiny">
			<!-- <el-form v-bind:model="task_edit">
				<el-form-item label="标题" v-bind:label-width="formLabelWidth">
					<el-input v-model="task_edit.task_data.task_content" placeholder="请填写标题" auto-complete="off"></el-input>
				</el-form-item>
				<el-form-item label="执行人" v-bind:label-width="formLabelWidth">
					<el-input v-model="task_edit.task_data.operater" placeholder="请填写执行人" auto-complete="off"></el-input>
				</el-form-item>
				<el-form-item label="状态" v-bind:label-width="formLabelWidth">
					<el-select v-model="task_edit.status" placeholder="请选择状态">
						<el-option v-for="(model,index) in all_status" v-bind:label="all_status[index].value" v-bind:value="all_status[index].value"></el-option>
					</el-select>
				</el-form-item>
			</el-form> -->
			<el-form v-bind:model="file_edit">
				<el-form-item label="文件夹名" v-bind:label-width="formLabelWidth">
					<el-input v-model="file_edit.name" placeholder="请填写文件夹名" auto-complete="off"></el-input>
				</el-form-item>
			</el-form>
			<span slot="footer" class="dialog-footer">
				<el-button v-on:click="dialogVisible = false">取 消</el-button>
				<el-button type="primary" v-on:click="editFileYes">确 定</el-button>
			</span>
		</el-dialog>
	</div>



	<script>
		
$.getJSON("http://120.27.44.143/add_folder?jsoncallback=?", { parentId: 24, name: 'jobcategoryjson' }, function(json) { console.log(json); });
		
		
		var file = [];
		
		var task = [
		{
			number:1,
			delete:false,
			seem:true,
			status:'-1',
			task_data:{
				task_content:'asdasdasdas',
				operater:'小明',
			},
		},
		{
			number:2,
			delete:false,
			seem:true,
			status:'-1',
			task_data:{
				task_content:'asdasdasdasdasdasdasasdas',
				operater:'小红',
			},
		},
		{
			number:3,
			delete:false,
			seem:true,
			status:'0',
			task_data:{
				task_content:'asdasda啊发射点发爱书人他sdas',
				operater:'小李',
			},
		},
		{
			number:4,
			delete:false,
			seem:true,
			status:'1',
			task_data:{
				task_content:'asdasdas阿 df sd   斯达阿萨德啊亲人 2若2das',
				operater:'小asd aw qa白',
			},
		},
		{
			number:5,
			delete:false,
			seem:true,
			status:'1',
			task_data:{
				task_content:'asdasdasdas',
				operater:'小asd a明',
			},
		},
		{
			number:6,
			delete:false,
			seem:true,
			status:'0',
			task_data:{
				task_content:'asda asd asd as asqer2w4 tsdasdasdasdasdasasdas',
				operater:'小 e 1eq 红',
			},
		},
		{
			number:7,
			delete:false,
			seem:true,
			status:'2',
			task_data:{
				task_content:'asdasda啊 as as d发射点发爱书人他sdas',
				operater:'小adsas d',
			},
		},
		{
			number:8,
			delete:false,
			seem:true,
			status:'2',
			task_data:{
				task_content:'asdasdasd as   as阿斯达阿萨德啊亲人 2若2das',
				operater:'小as 4t 34t 白',
			},
		}
		];

		function taskEmpty() {
			var taskEmpty = {
				number:'',
				delete:false,
				seem:true,
				status:'等待中',
				task_data:{
					task_content:'',
					operater:'',
				},
			};
			return taskEmpty;
		}
		function fileEmpty() {
			var fileEmpty = {
				name:'',
				id:0,
			};
			return fileEmpty;
		}
		var all_status = [{ text: '等待中', value: '等待中' }, { text: '进行中', value: '进行中' }, { text: '已完成', value: '已完成' }, { text: '已放弃', value: '已放弃' }]
		function statusCheck(task) {
			for (var i = 0; i < task.length; i++) {
				switch(task[i].status){
					case '0':
					task[i].status = all_status[0].value;
					break;
					case '1':
					task[i].status = all_status[1].value;
					break;
					case '2':
					task[i].status = all_status[2].value;
					break;
					case '-1':
					task[i].status = all_status[3].value;
					break;
					default:
					break;
				}
			}
			return task;
		}
		statusCheck(task)
		// console.log(task);


		var newVue = new Vue({
			el:'#app',
			data: {
				file:file,
				edit_data_task:task,
				dialogVisible:false,
				formLabelWidth:'80px',
				editTaskNum:0,
				task_edit:taskEmpty(),
				all_status:all_status,
				file_edit:fileEmpty(),
				name:'文件夹名',
			// statusName:statusCheck(task),
		},
		methods:{
			total:function () {
				for (var i = 0; i < this.edit_data_task.length; i++) {
					this.edit_data_task[i].seem = true;
				}
			},
			// checkStatus:function (check_status) {
			// 	for (var i = 0; i < this.edit_data_task.length; i++) {
			// 		if(this.edit_data_task[i].status == check_status){
			// 			this.edit_data_task[i].seem = true;
			// 		}else{
			// 			this.edit_data_task[i].seem = false;
			// 		}
			// 	}
			// },
			filterTag(value, row) {
				return row.status === value;
			},
			deleteTask:function (number) {
				this.$confirm('是否删除?', '提示', {
					confirmButtonText: '确定',
					cancelButtonText: '取消',
					type: 'warning'
				}).then(() => {
					this.edit_data_task.splice(number,1);
					for (var i = 0; i < this.edit_data_task.length; i++) {
						this.edit_data_task[i].number = i+1;
					}
					this.$message({
						type: 'success',
						message: '删除成功!'
					});
				}).catch(() => {
					return;      
				});
			},
			newTask:function () {
				this.task_edit = taskEmpty();
				this.task_edit.number = this.edit_data_task.length+1;
				this.dialogVisible = true;
				this.editTaskNum = this.edit_data_task.length;
				this.task_edit.create_time = new data();
			},
			
			editTask:function (number) {
				this.editTaskNum = number;
				this.task_edit = this.edit_data_task[this.editTaskNum];
				this.dialogVisible = true;
			},
			editTaskYes:function () {
				var task_content = this.task_edit.task_data.task_content
				task_content = task_content.replace(/(^\s+)|(\s+$)/g,"")
				if (task_content.length == 0) {
					this.$message({
						type: 'warning',
						message: '请输入'+this.name+'!'
					});
					return false;
				};
				if (this.editTaskNum < this.edit_data_task.length) {
					this.edit_data_task[this.editTaskNum] = this.task_edit;
				}else{
					this.edit_data_task.splice(this.editTaskNum,0,this.task_edit);
				};
				this.dialogVisible = false;

			},
			checkStatusType:function (row) {
				switch(row.status){
					case all_status[0].value:
					return 'primary';
					break;
					case all_status[1].value:
					return 'danger';
					break;
					case all_status[2].value:
					return 'success';
					break;
					case all_status[3].value:
					return '';
					break;
					default:
					break;
				}	
			},
			editFileYes:function () {
				this.file.splice(this.file.length,0,this.file_edit);
				if (this.file_edit.name.length == 0) {
					this.$message({
						type: 'warning',
						message: '请输入'+this.name+'!'
					});
					return false;
				};
				this.file_edit = fileEmpty();
				this.editTaskNum += 1;
				this.file_edit.id = this.editTaskNum;
				this.dialogVisible = false;
			},
		}
	});
</script>
</body>
</html>
