		*{
			text-align: center;
			padding: 0;
			margin: 0;
			border:0;
		}
		html,body{
			font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;	
			height: 100%;
			width: 100%;		
		}
		a{text-decoration:none;color:inherit;}
		a:link{text-decoration:none;color:inherit}
		a:visited{text-decoration:none;color:inherit}
		a:hover{text-decoration:none;color:inherit}
		a:active{text-decoration:none;color:inherit}
		img{
			height: 100%;
			width: 100%;
		}
		.demo-color-box {
			padding: 20px;
			height: 74px;
			line-height: 34px;
			box-sizing: border-box;
			text-align: center;
			color:#fff;
		}