<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>blog_vue_element_demo</title>
	<script src="https://cdn.bootcss.com/vue/2.1.8/vue.min.js"></script>
	<!-- 引入element-ui样式 -->
	<link href="https://cdn.bootcss.com/element-ui/1.1.6/theme-default/index.css" rel="stylesheet">
	<!-- 引入element-ui组件库 -->
	<script src="https://cdn.bootcss.com/element-ui/1.1.6/index.js"></script>
	<link rel="stylesheet" type="text/css" href="./total.css" />
</head>
<body>
	<div id="app" style="width: 1200px;margin: 30px auto;color: #333;">
		<el-row id="header" style="height: 100px; line-height: 100px;border-bottom: 1px solid #ccc">
			<el-col :span="6">
				<a href="./index.html"><h2>tobeatus</h2></a>
			</el-col>
			<el-col :span="6" style="border-left: 1px solid #ccc">
				<h3 style="text-align: left;padding-left: 60px;">诗歌打油</h3>
			</el-col>
		</el-row>
		<el-row id="container">
			<el-col :span="6">
				<el-row style="margin: 30px 0;"><el-col v-for="data in [{a:'舒心胸骚柔'},{a:'感万物变迁'},{a:'叹世事无常'},{a:'问人生何意'},{a:'畅安身侥幸'}]" style="height: 40px;line-height: 20px;padding: 10px 0;">{{data.a}}</el-col></el-row>
				<el-row style="border-top:1px solid #ccc;border-bottom:1px solid #ccc;">
					<el-col style="height: 80px;line-height: 80px" :span="10" >
						<el-button type="text">关于作者</el-button>
					</el-col>
					<el-col style="border-left:1px solid #ccc;height: 80px;line-height: 80px;" :span="14">
						<el-button type="text">留言</el-button>
					</el-col>
				</el-row>
			</el-col>
			<el-col :span="18" style="border-left: 1px solid #ccc">
				<el-row v-for="data in edit_data_task" style="border-bottom: 1px solid #ccc;padding: 30px 0 30px 60px;">
					<el-row style="height:40px;line-height: 40px;text-align: left;font-size: 1rem">
						<el-col :span="3"><h4 style="text-align: left;">{{data.number}}</h4></el-col>
					</el-row>
					<el-row style="height:30px;line-height: 30px;color:#999;font-size: 0.8rem">
						<el-col :span="2" style="text-align: left;">
							{{data.task_data.operater}}
						</el-col>
						<el-col :span="2" style="text-align: left;">
							{{data.time}}
						</el-col>
					</el-row>
					<el-row style="text-align: left;margin: 20px 0">
						{{data.task_data.task_content}}
					</el-row>
				</el-row>
				<el-row style="height: 150px;line-height: 150px;">
					<h5>
						No more , Please wait , thanks!
					</h5>
					<el-button type="text">
						<a href="#">返回顶部</a>
					</el-button>
				</el-row>
			</el-col>
		</el-row>	
	</div>

</body>
<script type="text/javascript" src="./total.js"></script>
</html>
